body {
 font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background: #2A3E51;

}

.logo{
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}


.menu {
   float: left;
   padding-left: 423px;

}


.menu li {
    float: left;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    list-style-type: none;
}

.main {
   
    width: 100%;
    height: 1000px;
    background: url(../Image/Boy.png)  90% 100%/auto no-repeat, url(../Image/fon.jpg) no-repeat;
}

.title__container {
    float:left;
    margin: 432px 0px 0px 404px;
    color: #2C384A;
    text-align: center;


}

.title__container h1 {
    
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.title__container h4 {
    margin-top: 40px;
    color: #79818D;
    text-align: center;

    
}

.title__container input {
    height: 40px;
    text-align: center;
    color: #6D7682;
    border: 2px solid #6D7682;
    background: none;
    margin-left: 20px;
    border-radius: 5px;


}

.about_me {
    height: 100%;
    width: 100%;
    

}

.about_me_container {
    text-align: center;
    width: 740px;
    margin: 0 auto;
}
.about_me_container h2 {
    text-align: center;
    width: 96px;
    font-size: 22px;
    margin: 10px auto;
    padding-bottom: 5px;
    


}

.about_me_container hr {
    height: 4px;
    border: none;
    background: #EA7800;
    width: 60px;
    margin: 0 auto;
} 

.about_me_container p {
    margin-top: 50px;
    margin-bottom: 20px;

}

.about_me_container  .TextItem {
    margin-top: 15px;
}

.about_me_container input {
    
    height: 40px;
    text-align: center;
    color: #6D7682;
    border: 2px solid #6D7682;
    background: none;
    margin-left: 20px;
    border-radius: 5px;
    width: 200px;
   
    
    
}

.skills{
    background: url(../Image/fon1.png) no-repeat;
}

.skils-contener h2 {
    text-align: center;
    width: 80px;
    font-size: 22px;
    margin: 20px auto;
    padding-bottom: 5px;


}
.skils-contener  hr {
    height: 3px;
    border: none;
    background: #EA7800;
    width: 60px;
    margin: 0 auto;
} 

.skils-contener {
    text-align: center;
    width: 780px;
    margin: 0 auto;
    
}

.skills_item {
    float: left;
    width: 230px;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
}
.skills_item h3 {
    color: #D4861F;
}
.clear{
    clear: left;
}

.cais_conterner {
    
    margin-top: 200px;
}

.cais_conterner .cais {
    text-align: center;
    width: 80px;
    font-size: 22px;
    margin: 20px auto;
    padding-bottom: 5px;
}


.cais_conterner  hr {
    height: 3px;
    border: none;
    background: #EA7800;
    width: 60px;
    margin: 0 auto;
} 
.cais_conterner .p1 {
    text-align: center;
    margin-top: 63px;
    font-size: 10px;
    

}

.cais_conterner img {
    
    margin-left: 20%;
    margin-top: 38px;
    
}

.cais_conterner .cais_conterner_text  h2{
    margin-left: 400px;
    text-transform: uppercase;
    color: #384354;
}

.cais_conterner .cais_conterner_text  h4 {
    margin-left: 400px;
    color: #3F495A;
}




.cais_conterner .cais_conterner_text  input{
    margin-left: 400px;
    margin-top: 15px;
    width: 201px;
    height: 44px;
    left: 0px;
    top: 0px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #6D7682;
    background: #63B5AE;
    border-radius: 5px;
    width: 200px;

}

.cais_conterner .cais_conterner_text_information {
    margin-left: 700px;
    margin-top: -250px;
    
}


.cais_conterner .cais_conterner_text_information .Text_information {
    text-align: center;
    width: 730px;
    margin-top: -20px;
    margin-left: -17px;
    color: #3F495A;

}

.cais_conterner .cais_conterner_text_information  h2 {
    color:#384354
}

.clear{
    clear: left;
}


.account {
    margin-top: 200px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.account h3{
    text-transform: uppercase;
    margin-left: -950px;
}

.account .MySelect {
  margin-left: 380px;
  display: block;
  width: 890px;
  height: 54px;
  background: #EEEEEE;
}

.account .disain {
    margin-left: -970px;
}
.account .adapt {
    margin-left: -870px;
}

.account .Myaccount .Myaccount_ad1{
    margin-left: -950px;
}

.account .Myaccount .Myaccount_ad {
    margin-left: -1050px;
}

.account .Myaccount .Myaccount_ad2 {
    margin-left: 650px;
    margin-top: -70px;
}


.account .Myaccount .Myaccount_ad3 {
    margin-left: 650px;
    margin-top: -130px;
}
.account option {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #737373;
}


.statistic{
    margin-top: 150px;
    text-align: center;
    font-size: 22px;
    background: url(../Image/fon2.png) no-repeat;
    width: 100%;
    height: 500px;
    
    
    
}
.statistic h2{
    text-align: center;
    padding-top: 100px;
    color:  #323E4F;
    text-transform: uppercase;
    font-weight: bold;
    
}

.statistic hr{
    height: 3px;
    border: none;
    background: #EA7800;
    width: 60px;
    margin: 0 auto;
}

.statistic_conterner {
    margin-top: 100px;
    text-align: center;
    
    
    
}

.statistic_item {
    float: left;
     width: 230px;
    text-align: center;
    margin-left: 200px;
    margin-top: 78px;
    color: #323E4F;
    font-weight: bold;
}